.env
.tests
.nvim

node_modules
package-lock.json
docs/package-lock.json


*graphql-schema.json

http-client.env.json
!/schemas/http-client.env.json
!/tests/**/http-client*.json
!/docs/**/*.json


/http-examples
*.http
!/docs/**/*.http
!/tests/**/*.http

todo.md
