.env
.tests
.nvim
.log*

node_modules
package-lock.json

*graphql-schema.json

http-client.env.json
!/schemas/http-client.env.json
!/tests/**/http-client*.json
!/docs/**/*.json

/http-examples
*.http
!/docs/**/*.http
!/tests/**/*.http
!/tests/functional/requests/*.http

selene.toml
neovim.yml
.todo.md
