*kulala.nvim.requirements.txt*A fully-featured REST Client Interface for Neovim.

==============================================================================
Table of Contents                 *kulala.nvim.requirements-table-of-contents*

1. Requirements                        |kulala.nvim.requirements-requirements|
  - Neovim                      |kulala.nvim.requirements-requirements-neovim|
  - cURL                          |kulala.nvim.requirements-requirements-curl|
  - gRPCurl                    |kulala.nvim.requirements-requirements-grpcurl|
  - Websocat                  |kulala.nvim.requirements-requirements-websocat|
  - OpenSSL                    |kulala.nvim.requirements-requirements-openssl|
  - jq                              |kulala.nvim.requirements-requirements-jq|
  - xmllint                    |kulala.nvim.requirements-requirements-xmllint|
2. Optional Requirements      |kulala.nvim.requirements-optional-requirements|

==============================================================================
1. Requirements                        *kulala.nvim.requirements-requirements*

List of requirements for using kulala.


NEOVIM                          *kulala.nvim.requirements-requirements-neovim*

- Neovim <https://github.com/neovim/neovim> 0.10.0+


SYNTAX HIGHLIGHTING ~

- Treesitter for HTTP syntax <https://github.com/nvim-treesitter/nvim-treesitter?tab=readme-ov-file#supported-languages>


CURL                              *kulala.nvim.requirements-requirements-curl*

- cURL <https://curl.se/> (tested with 8.5.0)


GRPCURL                        *kulala.nvim.requirements-requirements-grpcurl*

- gRPCurl <https://github.com/fullstorydev/grpcurl> for GRPC requests


WEBSOCAT                      *kulala.nvim.requirements-requirements-websocat*

- Websocat <https://github.com/vi/websocat> for WebSocket requests


OPENSSL                        *kulala.nvim.requirements-requirements-openssl*

- Required for JWT and PKCE signing (comes preinstalled with macOS and most Linux distributions and is part of git installation on Windows)


JQ                                  *kulala.nvim.requirements-requirements-jq*

- jq <https://stedolan.github.io/jq/> (tested with 1.7)

(Only required for formatted JSON responses)


XMLLINT                        *kulala.nvim.requirements-requirements-xmllint*

- xmllint <https://packages.ubuntu.com/noble/libxml2-utils> (tested with libxml v20914)

(Only required for formatted XML/HTML responses and resolving XML request
variables)


==============================================================================
2. Optional Requirements      *kulala.nvim.requirements-optional-requirements*

To make things a lot easier, you can put this lua snippet somewhere in your
configuration:

>lua
    vim.filetype.add({
      extension = {
        ['http'] = 'http',
      },
    })
<

This will make Neovim recognize files with the `.http` extension as HTTP files.

Generated by panvimdoc <https://github.com/kdheepak/panvimdoc>

vim:tw=78:ts=8:noet:ft=help:norl:
