---
name: Conform Docs

on:
  pull_request:
    paths:
      - 'docs/**/*.md'
    branches:
      - main
  push:
    branches: develop

jobs:
  lint:
    name: Lint Docs
    runs-on: ubuntu-latest
    container:
      image: gorillamoe/kulala-nvim-linux-testrunner:latest
    steps:
      - uses: actions/checkout@v4

      - name: Run linter
        run: ./scripts/lint.sh check-docs
